name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build MSIX Packaging for Linux
      run: ./makelinux.sh --pack

    - name: move .vs to vs-files
      run: |
        mv .vs vs-files

    - name: Upload all .vs contents (including files in subfolders)
      uses: actions/upload-artifact@v4
      with:
        name: msix-packaging-vs-artifact
        path: |
          vs-files/**/*
          .
        retention-days: 5
