name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: configure
      run: ./makelinux.sh --pack
    - name: Upload entire workspace
      uses: actions/upload-artifact@v4
      with:
        name: msix-packaging-complete
        path: |
          **
          .*
          .*/
          .vs/**
        retention-days: 5
